# =========================
# Dependencies
# =========================
node_modules/

# pnpm
.pnpm-store/

# =========================
# Build output
# =========================
dist/
build/
coverage/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# Docker
# =========================
docker-data/

# =========================
# Temporary files
# =========================
tmp/
temp/
.cache/