GOOGLE_CLIENT_ID="56729699206-rudqfia2kn1s5jd9e9sejlk6ajjprvjl.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/callback"
DATABASE_URL="postgresql://transcendence:transcendence@localhost:5432/transcendence?schema=public"
